@import 'tailwindcss';

@custom-variant tall (@media (height >= 54rem));
@custom-variant narrow (@media (height >= 50rem) and (width < 29rem));
@theme {
  --color-accent: #c8442c;
  --color-border: #e0d2b8;
  --color-background: #faf4e8;
  --color-surface: #ffffff;
  --color-text: #2a1810;
  --color-text-muted: #6b5544;
  --font-sans: 'Inter Variable', sans-serif;
  --default-font-family: 'Inter Variable', sans-serif;
}

@layer base {
  body {
    @apply bg-background select-none;
  }
}
